<section>
  <div class="w-full">
    <div class="max-w-5xl mx-auto px-6 sm:px-6 lg:px-8">
      <div class="bg-[#FFBA00] w-full shadow rounded-md p-8 sm:p-12 mt-20">
        <p class="text-3xl font-bold leading-7 text-center text-white">Contact me</p>

        <!-- FORMULARIO CON FORM SUBMIT -->
        <form action="https://formsubmit.co/pierofernandezz48@gmail.com" method="POST" target="dummyframe"
          (submit)="showConfirmation()" class="space-y-6">
          

          <div class="md:flex items-center mt-12">
            <div class="w-full md:w-1/2 flex flex-col">
              <label class="font-semibold leading-none text-white">Name</label>
              <input type="text" name="name"
                class="leading-none text-gray-800 p-3 focus:outline-none focus:border-blue-700 mt-4 border-0 bg-[#FFF7FA] rounded"
                required />
            </div>
            <div class="w-full md:w-1/2 flex flex-col md:ml-6 md:mt-0 mt-4">
              <label class="font-semibold leading-none text-white">Phone</label>
              <input type="text" name="phone"
                class="leading-none text-gray-800 p-3 focus:outline-none focus:border-blue-700 mt-4 border-0 bg-[#FFF7FA] rounded"
                required />
            </div>
          </div>

          <div class="md:flex items-center mt-8">
            <div class="w-full flex flex-col">
              <label class="font-semibold leading-none text-white">Subject</label>
              <input type="text" name="subject"
                class="leading-none text-gray-800 p-3 focus:outline-none focus:border-blue-700 mt-4 border-0 bg-[#FFF7FA] rounded"
                required />
            </div>
          </div>

          <div>
            <div class="w-full flex flex-col mt-8">
              <label class="font-semibold leading-none text-white">Message</label>
              <textarea name="message"
                class="h-40 text-base leading-none text-gray-800 p-3 focus:outline-none focus:border-blue-700 mt-4 bg-[#FFF7FA] border-0 rounded"
                required></textarea>
            </div>
          </div>

          <!-- Campo oculto opcional para evitar el captcha de FormSubmit -->
          <input type="hidden" name="_captcha" value="false">

          <!-- Redirección opcional después de enviar -->
          <input type="hidden" name="_next" value="about:blank" /> <!-- evita redirección externa -->

          <div class="flex items-center justify-center w-full">
            <button
              class="mt-9 font-semibold leading-none text-white py-4 px-10 bg-[#9D4CDC] rounded hover:bg-[#9224E8] focus:ring-2 focus:ring-offset-2 focus:ring-[#9224E8] focus:outline-none">
              Send message
            </button>
          </div>
        </form>
        <iframe name="dummyframe" style="display:none;"></iframe>
      </div>
      <div class="mt-6 flex items-center text-white mb-20">
        <img src="https://cdn-icons-png.flaticon.com/512/733/733585.png" alt="WhatsApp" class="w-6 h-6 mr-2" />
        <span class="text-black">+51 987 654 321</span>
      </div>

    </div>
  </div>
</section>



<section>
  <h1 class="xl:text-4xl text-3xl text-center text-gray-800 font-extrabold pb-6 sm:w-4/6 w-5/6 mx-auto">Ubicanos
  </h1>
  <div class="flex flex-wrap justify-center gap-20 px-4 py-8 mb-12">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d975.7818641373162!2d-77.00591933298699!3d-11.9656763016617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1shospital%20del%2010!5e0!3m2!1ses!2spe!4v1744934209387!5m2!1ses!2spe"
      width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>


    <iframe
      src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d243.95431571950243!2d-77.00244448469995!3d-11.955864704503933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!3e6!4m3!3m2!1d-11.9558614!2d-77.00238039999999!4m3!3m2!1d-11.955853099999999!2d-77.0024061!5e0!3m2!1ses!2spe!4v1744934310223!5m2!1ses!2spe"
      width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
</section>

<div class="mt-6 flex items-center text-white mb-20">
  <img src="https://cdn-icons-png.flaticon.com/512/733/733585.png" alt="WhatsApp" class="w-6 h-6 mr-2" />
  <span class="text-black">+51 987 654 321</span>
</div>
