<header>

  <!-- component -->
  <nav class="px-4 lg:px-6 py-4 dark:bg-white rounded-3xl mx-4 sm:mx-12 md:mx-20 lg:mx-28 my-4 shadow-2xl">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
      <div class="flex items-center justify-between w-full lg:w-auto">
        <a href="#" class="flex items-center">
          <img src="img/logo-brillare.png" class="mr-3 size-12 lg:size-16" alt="Logo Brillaré" />
          <span class="self-center text-2xl lg:text-3xl font-semibold whitespace-nowrap dark:text-black">Brillaré</span>
        </a>

        <!-- Botón de hamburguesa para móvil -->
        <button id="menu-toggle" class="lg:hidden text-gray-700 focus:outline-none">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>

      <div class="hidden lg:flex justify-between items-center w-full lg:w-auto lg:order-1" id="mobile-menu-2">
        <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
          <li><a href="#" class="block py-2 pr-1 dark:text-[#9D4CDC]">Home</a></li>
          <li><a href="#" class="block py-2 pr-1 text-[#330656]">Nosotros</a></li>

          <!-- Dropdown Terapias - Versión mejorada -->
          <li class="relative group">
            <div class="py-2 pr-1">
              <a href="#" class="flex items-center text-[#330656]">
                Terapias <img src="img/fecha-abajo.png" alt="Icono contacto" class="w-2 h-2 ml-2">
              </a>
              <ul
                class="absolute left-0 hidden group-hover:block flex-col bg-white shadow-lg rounded-md mt-0 py-2 w-48 z-50">
                <li><a href="#" class="block px-4 py-2 text-[#330656] hover:bg-gray-200">Terapia Individual</a></li>
                <li><a href="#" class="block px-4 py-2 text-[#330656] hover:bg-gray-200">Terapia Grupal</a></li>
                <li><a href="#" class="block px-4 py-2 text-[#330656] hover:bg-gray-200">Terapia Infantil</a></li>
              </ul>
            </div>
          </li>

          <!-- Dropdown Talleres - Versión mejorada -->
          <li class="relative group">
            <div class="py-2 pr-1">
              <a href="#" class="flex items-center text-[#330656]">
                Talleres <img src="img/fecha-abajo.png" alt="Icono contacto" class="w-2 h-2 ml-2">
              </a>
              <ul
                class="absolute left-0 hidden group-hover:block flex-col bg-white shadow-lg rounded-md mt-0 py-2 w-48 z-50">
                <li><a href="#" class="block px-4 py-2 text-[#330656] hover:bg-gray-200">Taller de Autoestima</a></li>
                <li><a href="#" class="block px-4 py-2 text-[#330656] hover:bg-gray-200">Taller de Manejo de Estrés</a>
                </li>
                <li><a href="#" class="block px-4 py-2 text-[#330656] hover:bg-gray-200">Taller de Comunicación</a></li>
              </ul>
            </div>
          </li>

          <li><a href="#" class="block py-2 pr-1 text-[#330656]">Materiales</a></li>
          <li>
            <a href="#" class="flex items-center py-2 pr-1 text-[#FF8A00]">
              <img src="img/libreta-contacto.png" alt="Icono contacto" class="w-5 h-5 mr-2">Contacto
            </a>
          </li>
        </ul>
      </div>
    </div>
</nav>

<!-- Menú móvil desplegable -->
<div id="mobile-menu" class="hidden lg:hidden bg-white rounded-lg shadow-lg mx-4 my-2 p-4">
  <ul class="space-y-2">
    <li><a href="#" class="block py-2 px-4 dark:text-[#9D4CDC]">Home</a></li>
    <li><a href="#" class="block py-2 px-4 text-[#330656]">Nosotros</a></li>
    
    <li>
      <a href="#" class="flex items-center justify-between py-2 px-4 text-[#330656]">
        Terapias
        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
        </svg>
      </a>
      <ul class="hidden pl-4 space-y-2 mt-2">
        <li><a href="#" class="block py-2 px-4 text-[#330656]">Terapia Individual</a></li>
        <li><a href="#" class="block py-2 px-4 text-[#330656]">Terapia Grupal</a></li>
        <li><a href="#" class="block py-2 px-4 text-[#330656]">Terapia Infantil</a></li>
      </ul>
    </li>
    
    <li>
      <a href="#" class="flex items-center justify-between py-2 px-4 text-[#330656]">
        Talleres
        <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
        </svg>
      </a>
      <ul class="hidden pl-4 space-y-2 mt-2">
        <li><a href="#" class="block py-2 px-4 text-[#330656]">Taller de Autoestima</a></li>
        <li><a href="#" class="block py-2 px-4 text-[#330656]">Taller de Manejo de Estrés</a></li>
        <li><a href="#" class="block py-2 px-4 text-[#330656]">Taller de Comunicación</a></li>
      </ul>
    </li>
    
    <li><a href="#" class="block py-2 px-4 text-[#330656]">Materiales</a></li>
    <li>
      <a href="#" class="flex items-center py-2 px-4 text-[#FF8A00]">
        <img src="img/libreta-contacto.png" alt="Icono contacto" class="w-5 h-5 mr-2">Contacto
      </a>
    </li>
  </ul>
</div>

<script>
  // Toggle del menú móvil
  document.getElementById('menu-toggle').addEventListener('click', function() {
    const mobileMenu = document.getElementById('mobile-menu');
    mobileMenu.classList.toggle('hidden');
  });

  // Toggle de los submenús en móvil
  document.querySelectorAll('#mobile-menu li > a').forEach(item => {
    if (item.nextElementSibling && item.nextElementSibling.tagName === 'UL') {
      item.addEventListener('click', function(e) {
        e.preventDefault();
        const submenu = this.nextElementSibling;
        submenu.classList.toggle('hidden');
        
        // Rotar el icono
        const icon = this.querySelector('svg');
        if (icon) {
          icon.classList.toggle('rotate-180');
        }
      });
    }
  });
</script>

</header>
<router-outlet></router-outlet>
