<section>
  <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 ">
    <div class="mr-auto place-self-center lg:col-span-7">
      <h1
        class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl text-[#330656]">
        "Potencia el Crecimiento de Tu Hijo con <span class="text-[#FF5693]">Brillaré"</span>
      </h1>
      <p class="max-w-2xl mb-6 font-light text-black lg:mb-8 md:text-lg lg:text-xl">Cada niño es único, por eso
        ofrecemos terapias personalizadas que se adaptan a sus necesidades y promueven su bienestar integral.</p>
      <a href="#"
        class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center bg-[#FF8A00] text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
        Agenda tu cita
        <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
            clip-rule="evenodd"></path>
        </svg>
      </a>
      <a href="#"
        class="inline-flex items-center px-5 py-3 text-base font-medium text-gray-900 border border-[#FF8A00] rounded-lg hover:bg-white focus:ring-4 focus:ring-gray-100 ">
        Descargar Brouchure
        <img class="w-5 h-5 ml-2" src="https://img.icons8.com/windows/32/download--v1.png" alt="download" />
      </a>

    </div>
    <div class="hidden lg:mt-0 lg:col-span-5 lg:flex ">
      <img class="" src="img/image1.png" alt="sidrome-down">
    </div>
  </div>
  <div class="flex flex-col items-center pb-10">
    <h2 class="mb-10 text-lg font-bold text-gray-700">Síguenos en:</h2>
    <div class="flex gap-10">
      <img width="30" height="30" src="img/instagram1.png" alt="instagram-new" />
      <img width="30" height="30" src="img/facebook1.png" alt="facebook" />
      <img width="30" height="30" src="img/tik-tok1.png" alt="tiktok--v1" />

    </div>
  </div>
</section>

<hr class="border-t-2 border-gray-300 my-6">


<section>
  <div class="py-14 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="max-w-screen mb-8 lg:mb-16 text-center">
      <h2 class="mb-10 text-4xl tracking-tight font-extrabold text-[#040428]">Mision y Valores</h2>
      <p class="text-gray-700 sm:text-xl ">"En Brillaré, combinamos terapias físicas, emocionales y cognitivas para
        acompañar el crecimiento saludable de tu hijo. ¡Trabajamos con amor y ciencia!"
      </p>
    </div>
    <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 bg-[#FEF3C7]">
          <img width="25" height="25" src="img/compromiso.png" alt="wedding-rings" />
        </div>
        <h3 class="mb-2 text-xl font-bold text-black">Compromiso </h3>
        <p class="text-gray-600">Plan it, create it, launch it. Collaborate seamlessly with all the organization and hit
          your marketing goals every month with our marketing plan.</p>
      </div>
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 bg-[#FEF3C7]">
          <img width="25" height="25" src="img/compromiso.png" alt="wedding-rings" />
        </div>
        <h3 class="mb-2 text-xl font-bold text-black">Empatía </h3>
        <p class="text-gray-600">Protect your organization, devices and stay compliant with our structured workflows and
          custom permissions made for you.</p>
      </div>
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 bg-[#FEF3C7]">
          <img width="25" height="25" src="img/compromiso.png" alt="wedding-rings" />
        </div>
        <h3 class="mb-2 text-xl font-bold text-black">Innovación </h3>
        <p class="text-gray-600 ">Auto-assign tasks, send Slack messages, and much more. Now power up with hundreds of
          new templates to help you get started.</p>
      </div>
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 bg-[#FEF3C7]">
          <img width="25" height="25" src="img/compromiso.png" alt="wedding-rings" />
        </div>
        <h3 class="mb-2 text-xl font-bold text-black">Paciencia </h3>
        <p class="text-gray-600">Audit-proof software built for critical financial operations like month-end close and
          quarterly budgeting.</p>
      </div>
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 bg-[#FEF3C7]">
          <img width="25" height="25" src="img/compromiso.png" alt="wedding-rings" />
        </div>
        <h3 class="mb-2 text-xl font-bold text-black">Trabajo en Equipo</h3>
        <p class="text-gray-600 ">Craft beautiful, delightful experiences for both marketing and product with real
          cross-company collaboration.</p>
      </div>
      <div>
        <div
          class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 bg-[#FEF3C7]">
          <img width="25" height="25" src="img/compromiso.png" alt="wedding-rings" />
        </div>
        <h3 class="mb-2 text-xl font-bold text-black">Inclusión </h3>
        <p class="text-gray-600 ">Keep your company’s lights on with customizable, iterative, and structured workflows
          built for all efficient teams and individual.</p>
      </div>
    </div>
  </div>
</section>

<hr class="border-t-2 border-gray-300 my-6">

<section>
  <div class="container mx-auto px-4 py-12 max-w-6xl">
    <!-- Título -->
    <div class="max-w-screen mb-8 lg:mb-16 text-center">
      <h2 class="mb-10 text-4xl tracking-tight font-extrabold text-[#040428]">Nuestros Servicios</h2>
    </div>

    <!-- Grid de 3 columnas -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <!-- Servicio 1 -->
      <div class="bg-white rounded-lg shadow-md overflow-hidden flex flex-col transition-transform hover:scale-[1.02]">
        <div class="relative pt-[56.25%]">
          <!-- Relación 16:9 -->
          <iframe class="absolute top-0 left-0 w-full h-full" src="https://www.youtube.com/embed/ID_VIDEO_1"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
        </div>
        <div class="p-6 flex flex-col flex-grow">
          <h3 class="text-xl font-bold text-gray-700 mb-4">Terapia Ocupacional</h3>
          <button
            class="mt-4 bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-full transition-colors w-full">
            Más Información
          </button>
        </div>
      </div>

      <!-- Servicio 2 -->
      <div class="bg-white rounded-lg shadow-md overflow-hidden flex flex-col transition-transform hover:scale-[1.02]">
        <div class="relative pt-[56.25%]">
          <!-- Relación 16:9 -->
          <iframe class="absolute top-0 left-0 w-full h-full" src="https://www.youtube.com/embed/ID_VIDEO_2"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
        </div>
        <div class="p-6 flex flex-col flex-grow">
          <h3 class="text-xl font-bold text-gray-700 mb-4">Terapia De Lenguaje</h3>
          <button
            class="mt-4 bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-full transition-colors w-full">
            Más Información
          </button>
        </div>
      </div>

      <!-- Servicio 3 -->
      <div class="bg-white rounded-lg shadow-md overflow-hidden flex flex-col transition-transform hover:scale-[1.02]">
        <div class="relative pt-[56.25%]">
          <!-- Relación 16:9 -->
          <iframe class="absolute top-0 left-0 w-full h-full" src="https://www.youtube.com/embed/ID_VIDEO_3"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
        </div>
        <div class="p-6 flex flex-col flex-grow">
          <h3 class="text-xl font-bold text-gray-700 mb-4">Terapia Integral</h3>
          <button
            class="mt-4 bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-full transition-colors w-full">
            Más Información
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<hr class="border-t-2 border-gray-300 my-6">

<section>
  <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
    <img class="w-full " src="img/image2.png" alt="niños jugando">
    <div class="mt-4 md:mt-0">
      <h2 class="mb-8 text-4xl tracking-tight font-extrabold text-center text-gray-900 ">Clases Personalizadas</h2>
      <p class="mb-8 font-light text-gray-900 md:text-lg text-center ">Flowbite helps you connect with friends and
        communities of people who share your interests. Connecting with your friends and family as well as discovering
        new ones is easy with features like Groups.
      </p>
      <a href="#"
        class="inline-flex items-center text-white bg-[#FF5693] hover:bg-[#eb397a] focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">
        Agenda tu clase aquí
        <svg class="ml-2 -mr-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
            clip-rule="evenodd"></path>
        </svg>
      </a>
    </div>
  </div>
</section>



<section class="bg-[#9747FF] my-6">
  <div class="container mx-auto px-4 py-12 max-w-6xl ">
    <!-- Título -->
    <div class="max-w-screen mb-8 lg:mb-16 text-center">
      <h2 class="mb-10 text-4xl tracking-tight font-extrabold text-white">Programas Educativos</h2>
    </div>

    <!-- Grid de 3 columnas -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <!-- Servicio 1 -->
      <div
        class="bg-transparent rounded-lg shadow-md overflow-hidden flex flex-col transition-transform hover:scale-[1.02]">
        <div class="relative pt-[56.25%]">
          <!-- Relación 16:9 -->
          <iframe class="absolute top-0 left-0 w-full h-full" src="https://www.youtube.com/embed/ID_VIDEO_1"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
        </div>
        <div class="p-6 flex flex-col flex-grow">
          <h3 class="text-xl font-bold text-white mb-4">Terapia Ocupacional</h3>
          <button
            class="mt-4 bg-[#FF8A00] hover:bg-[#772b17] text-white font-semibold py-2 px-4 rounded-full transition-colors w-full">
            Más Información
          </button>
        </div>
      </div>

      <!-- Servicio 2 -->
      <div
        class="bg-transparent rounded-lg shadow-md overflow-hidden flex flex-col transition-transform hover:scale-[1.02]">
        <div class="relative pt-[56.25%]">
          <!-- Relación 16:9 -->
          <iframe class="absolute top-0 left-0 w-full h-full" src="https://www.youtube.com/embed/ID_VIDEO_1"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
        </div>
        <div class="p-6 flex flex-col flex-grow">
          <h3 class="text-xl font-bold text-white mb-4">Terapia Ocupacional</h3>
          <button
            class="mt-4 bg-[#FF8A00] hover:bg-[#772b17] text-white font-semibold py-2 px-4 rounded-full transition-colors w-full">
            Más Información
          </button>
        </div>
      </div>

      <!-- Servicio 3 -->
      <div
        class="bg-transparent rounded-lg shadow-md overflow-hidden flex flex-col transition-transform hover:scale-[1.02]">
        <div class="relative pt-[56.25%]">
          <!-- Relación 16:9 -->
          <iframe class="absolute top-0 left-0 w-full h-full" src="https://www.youtube.com/embed/ID_VIDEO_1"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
        </div>
        <div class="p-6 flex flex-col flex-grow">
          <h3 class="text-xl font-bold text-white mb-4">Terapia Ocupacional</h3>
          <button
            class="mt-4 bg-[#FF8A00] hover:bg-[#772b17] text-white font-semibold py-2 px-4 rounded-full transition-colors w-full">
            Más Información
          </button>
        </div>
      </div>
    </div>

    <div class="mt-24">
      <div
        class="grid sm:grid-cols-2 items-center gap-0 p-0 mx-auto max-w-7xl shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] rounded-3xl overflow-hidden font-[sans-serif]">
        <!-- Primera mitad (color naranja) -->
        <div class="bg-[#FF8A00] p-8 space-y-7 h-full ">
          <h1 class="text-2xl font-extrabold text-white">Recibe Promociones Exclusivas</h1>
          <li class="text-sm text-white mt-3">Have some big idea or brand to develop and need help? Then reach out.</li>
          <li class="text-sm text-white mt-3">Have some big idea or brand to develop and need help? Then reach out.</li>
          <li class="text-sm text-white mt-3">Have some big idea or brand to develop and need help? Then reach out.</li>
          <li class="text-sm text-white mt-3">Have some big idea or brand to develop and need help? Then reach out.</li>
          <div class="mt-12">
          </div>

        </div>

        <!-- Segunda mitad (color blanco con formulario) -->
        <div class="bg-[#220F48] p-12 h-full text-gray-700">
          <form class="space-y-6 ">
            <input type='text' placeholder='Nombre y Apellido'
              class="bg-white w-full rounded-full py-3 px-4  text-sm" />
            <input type='text' placeholder='Distrito' class="bg-white w-full rounded-full py-3 px-4  text-sm" />
            <input type='email' placeholder='Email' class="bg-white w-full rounded-full py-3 px-4  text-sm" />
            <button type='button'
              class="text-white bg-[#FF5693] hover:bg-[#eb397a] font-semibold rounded-full text-sm px-4 py-3 w-full transition-colors">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="max-w-screen-xl mx-auto px-5 min-h-screen py-20">
    <div class="flex flex-col items-center">
      <h2 class="mb-8 text-4xl tracking-tight font-extrabold text-center text-gray-900 ">Preguntas Frecuentes</h2>
    </div>
    <div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
      <div class="py-5">
        <details class="group">
          <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
            <span> What is a SAAS platform?</span>
            <span class="transition group-open:rotate-180">
              <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                <path d="M6 9l6 6 6-6"></path>
              </svg>
            </span>
          </summary>
          <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
            SAAS platform is a cloud-based software service that allows users to access
            and use a variety of tools and functionality.
          </p>
        </details>
      </div>
      <div class="py-5">
        <details class="group">
          <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
            <span> How does billing work?</span>
            <span class="transition group-open:rotate-180">
              <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                <path d="M6 9l6 6 6-6"></path>
              </svg>
            </span>
          </summary>
          <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
            Our platform offers a variety of billing options, including monthly and annual subscription plans,
            as well as pay-as-you-go pricing for certain services. Payment is typically made through a credit
            card or other secure online payment method.
          </p>
        </details>
      </div>
      <div class="py-5">
        <details class="group">
          <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
            <span> Can I get a refund for my subscription?</span>
            <span class="transition group-open:rotate-180">
              <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                <path d="M6 9l6 6 6-6"></path>
              </svg>
            </span>
          </summary>
          <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
            Our platform offers a 30-day money-back guarantee for most of its subscription plans. If you are not
            satisfied with your subscription within the first 30 days, you can request a full refund. Refunds
            for subscriptions that have been active for longer than 30 days may be considered on a case-by-case
            basis.
          </p>
        </details>
      </div>
      <div class="py-5">
        <details class="group">
          <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
            <span> How do I cancel my subscription?</span>
            <span class="transition group-open:rotate-180">
              <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                <path d="M6 9l6 6 6-6"></path>
              </svg>
            </span>
          </summary>
          <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
            To cancel your subscription, you can log in to your account and navigate to the
            subscription management page. From there, you should be able to cancel your subscription and stop
            future billing.
          </p>
        </details>
      </div>
      <div class="py-5">
        <details class="group">
          <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
            <span> Can I try this platform for free?</span>
            <span class="transition group-open:rotate-180">
              <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                <path d="M6 9l6 6 6-6"></path>
              </svg>
            </span>
          </summary>
          <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
            Our platform offers a free trial for a limited time. During the trial period,
            you will have access to a limited set of features and functionality, but you will not be charged.
          </p>
        </details>
      </div>
      <div class="py-5">
        <details class="group">
          <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
            <span> How do I access documentation?</span>
            <span class="transition group-open:rotate-180">
              <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                <path d="M6 9l6 6 6-6"></path>
              </svg>
            </span>
          </summary>
          <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
            Documentation is available on our website and can be accessed by
            logging in to your account. The documentation provides detailed information on how to use the platform,
            as well as code examples and other resources.
          </p>
        </details>
      </div>
      <div class="py-5">
        <details class="group">
          <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
            <span> How do I contact support?</span>
            <span class="transition group-open:rotate-180">
              <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                <path d="M6 9l6 6 6-6"></path>
              </svg>
            </span>
          </summary>
          <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
            If you need help with the platform or have any other questions, you can contact our
            support team by submitting a support request through the website or by emailing
            support&#64;example.com.
          </p>
        </details>
      </div>
      <div class="py-5">
        <details class="group">
          <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
            <span> Do you offer any discounts or promotions?</span>
            <span class="transition group-open:rotate-180">
              <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                <path d="M6 9l6 6 6-6"></path>
              </svg>
            </span>
          </summary>
          <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
            We may offer discounts or promotions from time to time. To stay up-to-date on the latest
            deals and special offers, you can sign up for our newsletter or follow us on social media.
          </p>
        </details>
      </div>
      <div class="py-5">
        <details class="group">
          <summary class="flex justify-between items-center font-medium cursor-pointer list-none">
            <span> How do we compare to other similar services?</span>
            <span class="transition group-open:rotate-180">
              <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24">
                <path d="M6 9l6 6 6-6"></path>
              </svg>
            </span>
          </summary>
          <p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
            Our platform is a highly reliable and feature-rich service that offers a wide range
            of tools and functionality. It is competitively priced and offers a variety of billing options to
            suit different needs and budgets.
          </p>
        </details>
      </div>
    </div>
  </div>
</section>



<section>
  <footer class="relative bg-blue-400 pt-8 pb-6">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap text-left lg:text-left">
        <div class="w-full lg:w-6/12 px-4">
          <h4 class="text-3xl font-semibold text-blueGray-700">Let's keep in touch!</h4>
          <h5 class="text-lg mt-0 mb-2 text-blueGray-600">
            Find us on any of these platforms, we respond 1-2 business days.
          </h5>
          <div class="mt-6 lg:mb-0 mb-6">
            <button
              class="bg-white text-lightBlue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
              type="button">
              <i class="fab fa-twitter"></i></button><button
              class="bg-white text-lightBlue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
              type="button">
              <i class="fab fa-facebook-square"></i></button><button
              class="bg-white text-pink-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
              type="button">
              <i class="fab fa-dribbble"></i></button><button
              class="bg-white text-blueGray-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
              type="button">
              <i class="fab fa-github"></i>
            </button>
          </div>
        </div>
        <div class="w-full lg:w-6/12 px-4">
          <div class="flex flex-wrap items-top mb-6">
            <div class="w-full lg:w-4/12 px-4 ml-auto">
              <span class="block uppercase text-blueGray-500 text-sm font-semibold mb-2">Useful Links</span>
              <ul class="list-unstyled">
                <li>
                  <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                    href="https://www.creative-tim.com/presentation?ref=njs-profile">About Us</a>
                </li>
                <li>
                  <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                    href="https://blog.creative-tim.com?ref=njs-profile">Blog</a>
                </li>
                <li>
                  <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                    href="https://www.github.com/creativetimofficial?ref=njs-profile">Github</a>
                </li>
                <li>
                  <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                    href="https://www.creative-tim.com/bootstrap-themes/free?ref=njs-profile">Free Products</a>
                </li>
              </ul>
            </div>
            <div class="w-full lg:w-4/12 px-4">
              <span class="block uppercase text-blueGray-500 text-sm font-semibold mb-2">Other Resources</span>
              <ul class="list-unstyled">
                <li>
                  <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                    href="https://github.com/creativetimofficial/notus-js/blob/main/LICENSE.md?ref=njs-profile">MIT
                    License</a>
                </li>
                <li>
                  <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                    href="https://creative-tim.com/terms?ref=njs-profile">Terms &amp; Conditions</a>
                </li>
                <li>
                  <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                    href="https://creative-tim.com/privacy?ref=njs-profile">Privacy Policy</a>
                </li>
                <li>
                  <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-sm"
                    href="https://creative-tim.com/contact-us?ref=njs-profile">Contact Us</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <hr class="border-t-2  border-gray-300 my-6">
      <div class="flex flex-wrap items-center md:justify-between justify-center">
        <div class="w-full md:w-4/12 px-4 mx-auto text-center">
          <div class="text-sm text-blueGray-500 font-semibold py-1">
            Copyright © <span id="get-current-year">2021</span> Notus JS by
            <a href="https://www.creative-tim.com?ref=njs-profile" class="text-blueGray-500 hover:text-blueGray-800">Creative Tim</a>.
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>